/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* リセット */
body,h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; }
p{ margin-bottom:0.4em; }
img{ vertical-align: bottom; }
a img{ border:none; }
#header,#contents,#footer{ clear:both; position: relative; }
