$card-width: 600px;

#wrapper{
  width: $card-width;
  margin: 0 auto;

}

#header{
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#contents{
  height: $card-width * 1 / 1.618;
  background-color: #FFF;
  border-radius: 12px;
}

#footer{
  height: 50px;
  line-height: 50px;
  text-align: center;
}

